body {
  background: #EAE5E5;
  transition: background 2s ease-in-out;
}

#content-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_quote {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
  text-align: center;
  color: rgb(82, 34, 34);
}

.glow {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  animation: glow 2s ease-in-out infinite alternate;
  cursor: pointer;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff;
  }
  to {
    text-shadow: 0 0 20px #8f0000, 0 0 30px #d08e8e, 0 0 40px #bf7272;
  }
}

.glow:hover {
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

#phrase-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.phrase {
  position: absolute;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}
